{% extends 'base.html.twig' %}

{% block title %}Crop{% endblock %}

{% block body %}

   

    <h1>Crop</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Crop_id</th>
                <td>{{ crop.cropId }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ crop.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ crop.type }}</td>
            </tr>
            <tr>
                <th>Variety</th>
                <td>{{ crop.variety }}</td>
            </tr>
            <tr>
                <th>Planting_date</th>
                <td>{{ crop.plantingDate ? crop.plantingDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Expected_harvest_date</th>
                <td>{{ crop.expectedHarvestDate ? crop.expectedHarvestDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Growth_stage</th>
                <td>{{ crop.growthStage }}</td>
            </tr>
            <tr>
                <th>Area_size</th>
                <td>{{ crop.areaSize }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ crop.status }}</td>
            </tr>
            <tr>
                <th>Image_path</th>
                <td>{{ crop.imagePath }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_crop_index') }}">back to list</a>

    <a href="{{ path('app_crop_edit', {'crop_id': crop.cropId}) }}">edit</a>

    {{ include('Back/crop/_delete_formcrop.html.twig', {crop: crop}) }}

{% endblock %}